<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733506510891-dq8gbbjpl2f7ulqv7qf9ohs0n89d78ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733506510891-dq8gbbjpl2f7ulqv7qf9ohs0n89d78ac</string>
	<key>API_KEY</key>
	<string>AIzaSyCQjOme_nt5VPDvD-_uh9hokHzcwpuFqa4</string>
	<key>GCM_SENDER_ID</key>
	<string>733506510891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusGoDrivers</string>
	<key>PROJECT_ID</key>
	<string>campusgodrivers</string>
	<key>STORAGE_BUCKET</key>
	<string>campusgodrivers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733506510891:ios:fd4c7d4f4111b9bbbdca6e</string>
	<key>DATABASE_URL</key>
	<string>https://campusgodrivers-default-rtdb.firebaseio.com</string>
</dict>
</plist>